$container-width: 100px;

$hotter-pink: hsl(328, 90%, 60%);
$primary-color: $hotter-pink;

$increment-color: black;
$increment-bg-color: white;
$increment-bg-color--hover: rgba($increment-bg-color, 0.8);

$decrement-color: white;
$decrement-bg-color: rgba($decrement-color, 0);
$decrement-bg-color--hover: rgba($decrement-bg-color, 0.2);

$button-travel: 3px;
$button-edge-color: #888;

$transition-duration--on: 0.2s;
$transition-duration--off: 0.5s;

.root {
  // To make svgs/imgs responsive.
  // Using min-height/min-width is safer than height/width, as otherwise could override existing height/width values of svgs/img
  // (and setting height/width to 100% could result in height/width of 0 if image's parent doesn't have an explicit height/width)
  svg,
  img {
    min-height: 100%;
    min-width: 100%;
  }

  display: inline-block;
  max-width: $container-width;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
}

.button-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #333;
  user-select: none;

  &__button {
    margin: 0;

    height: 2em;
    width: 50%;
    max-width: 2em;
    border-radius: 9999px;
    border: 2px solid transparent;
    box-shadow: 0 $button-travel 0 $button-edge-color;
    cursor: pointer;

    &--left {
      color: $decrement-color;
      background: $decrement-bg-color;
      border-color: $increment-bg-color;
    }

    &--right {
      color: $increment-color;
      background: $increment-bg-color;
      border-color: $increment-bg-color;
    }

    &:disabled {
      pointer-events: none;
      cursor: unset;
      opacity: 0.1;
    }

    &:hover {
      border-color: $primary-color;
      background: $primary-color;
      color: white;
      box-shadow: 0 $button-travel 0 rgba($primary-color, 0.5);
    }

    &:active {
      box-shadow: 0 0 0 rgba($primary-color, 0.5);
      transform: translateY($button-travel);
    }

    &:focus-visible {
      outline: 3px dashed $primary-color;
      outline-offset: 3px;
    }

    &:not(:focus-visible) {
      transition: all $transition-duration--off;
    }
    &:hover,
    &:active {
      transition: all $transition-duration--on;
    }
  }
}
