@import '/src/components/BarChart/style-constants';

.axis {
  font-size: $FONT_SIZE;
  font-weight: $FONT_WEIGHT_BOLD;
  line-height: 1;
  color: white;
}

.y-axis {
  height: 100%;
  width: $y-axis-total-padding;
  border-right: $AXIS_LINE_WIDTH solid white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.y-axis-label {
  height: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-right: $y-axis-tick-length + $QUANTITY_AXIS_LABEL_MARGIN;

  // axis tick
  &::after {
    content: '';
    display: block;
    height: $AXIS_LINE_WIDTH;
    width: $y-axis-tick-length;
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
  }
}
