@import '/src/components/BarChart/style-constants';

.axis {
  font-size: $FONT_SIZE;
  font-weight: $FONT_WEIGHT_BOLD;
  line-height: 1;
  color: white;
}

.y-axis {
  height: 100%;
  width: $y-axis-total-padding;
  border-right: $AXIS_LINE_WIDTH solid white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.y-axis-label {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  padding-right: $y-axis-tick-length + $QUANTITY_AXIS_LABEL_MARGIN;

  .text {
    position: relative;
    top: -0.5em;
  }

  // axis tick
  &::after {
    content: '';
    display: block;
    height: $AXIS_LINE_WIDTH;
    width: $y-axis-tick-length;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
  }

  /* ~~~~~~ React Transition Group classes ~~~~~~ */
  min-height: 0;
  transition: flex $TRANSITION_DURATION, opacity $TRANSITION_DURATION;

  &.enter {
    flex: 0;
    opacity: 0;
  }
  &.enter-active {
    flex: 1;
    opacity: 1;
  }
  &.exit-active {
    flex: 0;
    opacity: 0;
  }
}
