@import '/src/components/BarChart/variables';

.root {
  height: 100%;
  width: 100%;
  padding-bottom: $AXIS_LINE_WIDTH;
  display: flex;
  flex-direction: row;

  .category {
    flex: 1;
    margin: 0 ($CATEGORY_GAP / 2);
    height: 100%;
    display: flex;

    .series {
      flex: 1;
      margin: 0 ($SERIES_GAP / 2);
      height: 100%;
      position: relative;

      .bar-container {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
}
