.root-container {
  margin: auto;
  padding: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.chart {
  flex: 1;
  margin-bottom: 1rem;
}
.inputs {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;

  > * {
    margin: 0 5px;
  }
}
